@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --topbar-height: 7rem;
    --nav-height: 3.5rem;

    --primary-color: #e9e9dc;
    --primary-color-alt: #897b56;
    --dark-color: #494850;

    --big-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    --font-medium: 500;
    --font-semibold: 600;
}

@media screen and(min-width: 1024px) {
    :root {
        --big-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .87rem;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: var(--normal-font-size);
    color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-medium);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    overflow: hidden;
}

/* HEADER */
.topbar {
    align-items: center;
    background-color: var(--primary-color);
    column-gap: 2rem;
    display: flex;
    height: var(--topbar-height);
    left: 0;
    padding-left: 3rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.topbar__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semibold);
    color: var(--primary-color-alt);
}

.topbar__subtitle {
    font-size: var(--h3-font-size);
    color: var(--primary-color-alt);
}

.topbar__logo {
    width: 80px;
}

/* SLIDER */
.slider {
    position: relative;
}

.slider__container {
    width: 100%;
    height: calc(100vh - var(--nav-height));
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__data {
    position: absolute;
    color: white;
    right: 5rem;
    top: calc(var(--topbar-height) + 2rem);
}

.slider__title {
    color: #EEC584;
    font-size: var(--big-font-size);
    margin-bottom: 1.25rem;
}

.slider__description {
    font-size: var(--h2-font-size);
}

.slider__nav {
    background-color: rgba(228, 253, 225, .8);
    bottom: 0;
    color: var(--dark-color);
    display: flex;
    left: 0;
    position: absolute;
    width: 100%;
}

.slider__item {
    flex: 1;
    padding: 2rem 0;
    text-align: center;
}

.slider__name {
    font-weight: var(--font-semibold);
    margin-bottom: 0.5rem;
}

.slider__item:nth-child(1) {
    background-color: rgba(138, 203, 136, 0.75);
    color: white;
    cursor: pointer;
}

.slider__item:hover {
    background-color: rgba(138, 203, 136, .75);
    color: white;
    cursor: pointer;
}

/* NAV */
.nav__menu {
    align-items: center;
    background-color: #d1d1b6;
    color: black;
    display: flex;
    height: var(--nav-height);
    padding: 0 3rem;
}

.nav__list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.nav__link {
    transition: font-weight .3s;
}

.nav__link:hover {
    font-weight: var(--font-medium);
}

.nav__button {
    align-items: center;
    background-color: var(--dark-color);
    color: white;
    cursor: pointer;
    display: none;
    column-gap: 0.75rem;
    font-weight: var(--font-medium);
    height: var(--nav-height);
    justify-content: center;
    text-align: center;
    width: 100%;
}

.nav__button i {
    font-size: 1.5rem;
}

/* ABOUT */
.about {
    position: relative;
    height: max-content;
}

.about__wallpaper {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__container {
    position: relative;
    padding: 3rem 0;
    height: 100%;
}

.about__message {
    text-align: center;
    font-size: 1.5rem;
}

.about__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    row-gap: 2rem;
    width: 40%;
}

.about__icon {
    width: 100px;
    height: 100px;
}

.about__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--primary-color-alt);
}

.about__description {
    line-height: 1.75rem;
}

/* FOOTER */
.footer {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--dark-color);
    color: white;
    flex-wrap: wrap;
    padding: 3rem 0;
    width: 100%;
}

.footer__logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.footer__img {
    width: 60px;
}

.footer__menu {
    font-weight: normal;
}

.footer__menu h4 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: var(--h3-font-size);
}

.footer__nav li {
    margin: 0.5rem 0;
}

.footer__data {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: var(--normal-font-size);
}

.map {
    width: 40%;
    object-fit: cover;
}

.footer__nav .nav__item:nth-child(2) ul {
    margin-left: 2rem;
}

.footer__nav .nav__link {
    color: white;
}

/* MEDIAQUERIES */
@media (max-width: 1024px) {
    .about__container {
        padding: 3rem;
        height: 100%;
    }

    .map {
        width: 33%;
    }

    .footer__data {
        padding-top: 4rem;
        row-gap: 1.25rem;
    }
}

@media (max-width: 768px) {

    /* HEADER */
    .topbar {
        column-gap: 2rem;
        height: calc(var(--topbar-height) - 1.5rem);
        padding-left: 1.5rem;
        position: relative;
    }

    .topbar__title {
        font-size: var(--h2-font-size);
    }

    .topbar__subtitle {
        font-size: var(--normal-font-size);
    }

    .topbar__logo {
        width: 64px;
    }

    .nav__menu {
        background-color: #525252;
        border-bottom: .25rem solid #8acb88;
        border-top: .25rem solid #8acb88;
        height: max-content;
        left: 5%;
        padding: 2rem;
        position: fixed;
        right: 5%;
        top: -100%;
        transition: .5s;
        width: 90%;
        z-index: 100;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.25rem;
        align-items: start;
    }

    .nav__link {
        color: white;
        font-weight: var(--font-medium);
    }

    .nav__button {
        display: inline-flex;
    }

    .slider__container {
        height: 40vh;
    }

    .slider__img {
        object-fit: cover;
    }

    .slider__data {
        right: 2rem;
        top: 1rem;
    }

    .slider__title {
        font-size: var(--h2-font-size);
        margin-bottom: 0.5rem;
    }

    .slider__description {
        font-size: var(--normal-font-size);
    }

    .slider__item {
        padding: 1rem 0;
        text-align: center;
    }

    .slider__name {
        font-weight: var(--font-semibold);
        font-size: var(--h3-font-size);
    }

    .slider__paragraph {
        font-size: var(--small-font-size);
    }

    /* ABOUT */
    .about__wallpaper {
        display: none;
    }

    .about__container {
        background-color: white;
        background-image: none;
        padding: 2rem;
    }

    .about__message {
        font-size: 1.25rem;
    }

    .about__info {
        padding: 2rem 0;
        row-gap: 1rem;
        width: 100%;
    }

    .about__icon {
        width: 80px;
        height: 80px;
    }

    .about__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-semibold);
    }

    .about__description {
        line-height: 1.5rem;
    }

    /* FOOTER */
    .footer {
        justify-content: initial;
        row-gap: 1rem;
        padding: 2rem;
    }

    .footer__logo {
        position: initial;
        width: 100%;
    }

    .footer__data {
        row-gap: 1rem;
        padding-top: 0;
    }

    .map {
        width: 100%;
    }

    .footer__menu {
        border-top: 1px solid white;
        flex: 1;
        padding-top: 1rem;
    }
}

.show-menu {
    top: 3rem;
}

.active {
    font-weight: 600;
}

.container {
    height: 60vh;
    padding: 2rem 3rem;
}

.title {
    margin-bottom: 20px;
}

.photos {
    display: flex;
    gap: 2rem;
}

.photo {
    border-radius: 1rem;
}

.form {
    width: 340px;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

.button__form {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: var(--dark-color);
    color: #ffffff;
    cursor: pointer;
    transition: all .3s
}

.button__form:hover {
    background: var(--dark-color);
    color: #fff
}